{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tubers</title>
</head>

<body>
    <div class="container-wrapps">
        <div class="home-wrapps">
            <div class="menu">
                <h1>TUBERZ</h1>
                <p>Choose a resolution to download</p>
            </div>
            <div class="boxes">
                <div class="box1">
                    <h4>High resolution</h4>
                    <a href="{% url 'large' %}"><button>Select</button> </a>
                </div>
                <div class="box2">
                    <h4>Low resolution</h4>
                    <a href="{% url 'small' %}"><button>Select</button> </a>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <p>©️ Jayson 2022</p>
</footer>

</html>