{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tubers</title>
</head>

<body>
    <div class="wrappers">
        <div class="box-wrap">
            <h3>Tubers</h3>
            <p>Download all types of Youtube videos with us without stress</p>
        </div>

        <div class="box">
            <form method="post">
                <input type="url" placeholder="Place youtube url here" name="yurl" id="url" />
                <button type="submit">Search</button>
            </form>
            <small>Place your Youtube url in the search box to download</small>
            <div class="box-info">
                <div class="mini">
                    <img src="" alt="" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>