{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tubers</title>
</head>

<body>
    <div class="header">
        <h1>TUBERZ</h1>
    </div>
    <div class="wrappers">
        <small>Download Youtube videos without stress</small>
        <br />
        <div class="forms">
            <form method="post">
                <input type="url" placeholder="Youtube url" name="link" id="youurl" /> {% csrf_token %}
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="displays">
            <div class="cards">
                <img src="{% static 'images/1.png' %}" alt="none" srcset="" />
                <div class="bodys">
                    <h4>Title</h4>
                </div>
            </div>

            <button class="download-small">Low Resolution</button>
            <button class="download-high">High Resolution</button>
        </div>
    </div>
</body>

</html>