body {
    background-color: rgb(29, 25, 25);
}

.wrappers {
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-wrap h3 {
    color: blanchedalmond;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 900;
}

.box-wrap p {
    color: aliceblue;
    font-size: 1.3rem;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input {
    border: 0;
    outline: none;
    /* padding: 15px 170px; */
    padding-inline-start: 33px;
    padding-inline-end: 56px;
    height: 50px;
    width: 500px;
    font-size: 1.2rem;
    font-family: Georgia;
    border-radius: 50px;
    margin-right: 15px;
}

form button {
    padding: 12px 25px;
    background-color: darkblue;
    color: azure;
    border: 1px transparent;
    border-radius: 5px;
}

.small-info {
    color: white;
    font-family: Helvetica;
    margin-top: 10px;
}

.box-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    /* background-color: blue; */
    margin-top: 20px;
}

.mini {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini img {
    width: 100%;
    height: 70%;
}

.mini h6 {
    font-size: 1.3rem;
    font-weight: 900;
    color: antiquewhite;
}

.buttons button {
    padding: 10px 30px;
    border-radius: 5px;
    border: transparent;
    background-color: darkblue;
    color: #fff;
}