body {
    overflow: hidden;
    font-family: monospace;
}

.container-wrapps {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.home-wrapps {
    background-color: azure;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu {
    text-align: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}